<html>
    <head>
        <meta charset="utf-8">
        <title><%=title%></title>
        <style>
            * {font-family: 'Times New Roman', Times, serif;}
        </style>

    </head>
    <body>
        <div>
            <p>Hello, <%=data.name%> (<%=data.age%>) !</p>
            <p>We are glad you joined our program.</p>
            
            <p>Please check your personal informations once again and let us know if there is anything needs to be changed.</p>
            
            <p>You are <%=data.height%> cm tall,</p>
            <p>and have received the <%=data.vaccinated%> dose of Co-Vaccine.</p>
            
            <p>Hope you have a comfortable and satisfying time.</p>
        </div>
    </body>
</html>
