<html>
    <head>
        <meta charset="utf-8">
        <style>
            span {
                color:cornflowerblue;
            }
        </style>

    </head>
    <body>
        <h1>Welcome ! </h1>
        <div>이름은 <span><%=data.name%></span> 입니다</div>
        <div>성별은 <span><%=data.gender%></span> 입니다</div>
        <div>생일은 <span><%=data.birthY%>년 <%=data.birthM%>월 <%=data.birthD%>일</span> 입니다</div>
        <div>취미는 <span><%=data.interest[0]%>, <%=data.interest[1]%></span> 입니다</div>
        <div>키는 <span><%=data.height%>cm</span> 입니다</div>

    </body>
</html>